<div class="row">
    <!-- Transaction Add -->
    <div class="col-sm-12 col-md-4">
        <div class="card shadow-lg m-2 p-2">
            <div class="d-flex align-self-center">
                <h1>ADD/Update Transaction</h1>
            </div>
            <p-divider></p-divider>
            <app-transaction></app-transaction>
        </div>
    </div>

    <!-- Transaction Chart -->
    <div class="col-sm-12 col-md-4">
        <div class="card shadow-lg m-2">
            <div class="col ">       
                    <h2 class="text-center pt-3">Total Balance</h2>
                <h1 class="text-center p-3 " style="font-size: xx-large;">$ {{balance.income - balance.expense}}</h1>
                <div class="d-flex justify-content-between">
                    <div class="row align-items-center px-2">
                        <div class="col">
                            <i class="pi pi-arrow-circle-down" style="font-size: 2rem; color: #00FF3F;"></i>
                        </div>
                        <div class="col">
                            <span style="font-size: large;">Income</span>
                                <h2>${{balance.income}}</h2>
                        </div>
                    </div>

                    <div class="row align-items-center px-2">
                        <div class="col">
                            <i class="pi pi-arrow-circle-up" style="font-size: 2rem; color: #FF3200;"></i>
                        </div>
                        <div class="col">
                            <span style="font-size: large;">Expense</span>
                            <h2>${{balance.expense}}</h2>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        
        <div class="p-3 m-2"></div>
        <div class="card shadow-lg m-2">
            <div class="d-flex justify-content-center ">
                <p-chart type="doughnut" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>
    </div>
    <!-- Transactions List -->

    <div class="col-sm-12 col-md-4">
        
        <div class="card shadow-lg m-2 p-2">
           
            <div class="d-flex align-self-center">
               
                <h1 class="">Transactions</h1>
            </div>
            <p-divider></p-divider>
            <!-- <p-menu #menu [model]="transactionOptions" [popup]="true"></p-menu> -->
            <p-scroller [items]="transactions" scrollHeight="600px" [itemSize]="70"   style="cursor: pointer;">
                <ng-template  let-transaction pTemplate="item"  >
                    
                        <div  class=" shadow-sm d-flex justify-content-between align-item-center hover-container "  (mouseenter)="showIcons = true" (mouseleave)="showIcons = false" >
                            <div class="p-2 flex-column">
                                <h1></h1>
                                <i class="pi pi-credit-card" style="font-size: 1.3rem">
                                    <span style="font-size: 1.7rem" class="p-2">{{ transaction.description }}</span>
                                </i>
                            </div>
                            <div class="flex-column  align-self-center">
                                <div style="position: absolute; " class=" d-flex  align-item-center">
                                  
                                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"  class="icon-button" (click)="showDialog()"></p-button>
                                    <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                                        <app-transaction-form [transaction] = "transaction" (sendTransactionData)="updateTransaction($event)></app-transaction-form>
                                    </p-dialog>
                                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger " class="icon-button" (click)="deleteTransaction(transaction)"></p-button>
                                </div>
                            </div>
                            <div class="d-flex align-self-center flex-column pr-2">
                                
                                <span style="font-size: large">${{ transaction.amount }}</span>
                                <span>{{ transaction.date | date : " dd MMM" }}</span>
                                
                            </div>
                           
                            
                        </div>
                </ng-template>
            </p-scroller>
            
        </div>
    </div>
</div>