
<div class="coninter mx-2" >
  <p-toolbar styleClass="p-1 sticky-top ui-toolbar ">
    <div class="p-toolbar-group-start">
      <p-avatar image="https://play-lh.googleusercontent.com/_IA1p-kzpnDyoutaCf9gxWME1fc76UpoLhtvm-5K3Aainu-U0ClZYS8ug-4stKjZu_s" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      
    </div>
  
    <div class="p-toolbar-group-center  pl-4 pt-1">
      <h1 style="font-size: 2.5rem;">Expense Tracker</h1>
    </div>

    <div class="p-toolbar-group-end mr-2">
      <ng-container *ngIf="!userData.isLoggedIn">
        <div>
          <button class="m-1 btn btn-light btn-outline-primary" mat-raised-button (click)="onLogin()" Button>
           Login
         </button>
   
         <button class="m-1 btn btn-light btn-outline-primary" mat-raised-button (click)="onRegister()" Button>
           Sign up
         </button>
        </div>
      </ng-container>
      <ng-container *ngIf="userData.isLoggedIn" >
      
          <p-avatar icon="pi pi-user" (click)="menu.toggle($event)" size="large" styleClass="cursor: pointer;">
              <!-- <span class="text-base">{{userData.userName}}</span> -->
          </p-avatar>
          <p-menu #menu [model]="items" [popup]="true"></p-menu>

        
      </ng-container>
    </div>
  </p-toolbar>

  <p-toolbar styleClass=" p-1 fixed-bottom">
    <div class="p-toolbar-group-start">
    </div>
    <div class="p-toolbar-group-center">
      <span > &copy; Vijay Kumar Munukoti</span>
    </div>
    <div class="p-toolbar-group-end">
    </div>
  </p-toolbar>
</div>
<router-outlet></router-outlet>